<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mrinalini Kota</title>
  <link rel="stylesheet" href="..\static\styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="../static/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="../static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Mrinalini.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="../static/images/cloud.png" alt="cloud">
    <img class="mountain" src="../static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="my-image" src="../static/images/Mrinalini.png" alt="mrinalini-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a newbie programmer and a Web Developer. I aim to use my innovation to create value in the world. I ❤️ fruits and reading books.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>My relationship with technology transitioned from hate to love. I started learning to code when I was 17 when college bored me out. Over time, I have gained a wealth of experience designing websites and developing cool programs and games.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="../static/images/download.png" alt="chillies-img">

        <h3>Literary Challenge</h3>
        <p>But my best skill is actually in writing and public speaking. I am the undisputed queen of delivering speeches. I ❤️ the English language .</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <img class="light-image" src="../static/images/light.png" >
      <h2>Get In Touch</h2>
      <h3>If you love Death Note as much as I do.</h3>
      <p class="contact-message">Love Death Note as much as I do? Let's talk about how awesome it is! We can code while feeding Ryuk apples!</p>
      <a class="btn" href="mailto:ilove@deathnote.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/mrinalini-kota-1a68441ba/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/Mrinali09823124">Twitter</a>
    <p class="copyright">© 2022 Mrinalini Kota.</p>
  </div>
</body>

</html>
